.principal{
    width: 100%;
    height: auto;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container{
    margin: 10% 0;
    background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(200, 200, 200, 0.9));
    border-radius: 10px;
    padding: 50px;
    font-size: 1.2rem;
}

.square{
    background-color:rgba(20, 20, 20, 0.041);
    border: none;
    border: 3px solid rgba(0, 0, 0, 0.418);
    color: rgb(34, 34, 34);
    border-radius: 10px;
    padding-left: 0.5rem;
    outline: none;
    font-size: 100%;
}

.container label, input{
    display: block;
    width: 100%;
}

.container input, select{
    height: 40px;
    margin-bottom: 20px;
}

.container .inline{
    display: inline;
    width: 49%;
}

.container .select{
    border: none;
    background-color: black;
    border-radius: 10px;
    color: rgb(230, 230, 230);
    padding:0 0.5rem;
}

.button{
    border: none;
    color: rgb(230, 230, 230);
    font-weight: bold;
    border-radius: 10px;
    height: 40px !important;
    font-size: 1.2rem;
}

.send{
    background-color: rgba(250, 173, 30, 0.7);
    border: 3px solid rgba(250, 173, 30);
}

.reset{
    background-color: rgba(250, 30, 30, 0.7);
    border: 3px solid rgb(250, 30, 30);
}

.send:hover{
    background-color: rgb(250, 173, 30);
    border: 3px solid rgba(250, 173, 30);
}

.reset:hover{
    background-color: rgb(250, 30, 30);
    border: 3px solid rgb(250, 30, 30);
}

@media(max-width: 640px){
    .container{
        margin: 0 5%;
        border-radius: 5px;
        padding: 30px;
        font-size: 0.9rem;
    }

    .container .inline{
        width: 100%;
    }
}